<div class="container h-full mx-auto">
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 my-4 justify-center items-center p-7 h-full">
        <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/pendientesApp.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 12 April 2024 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">App pendientes</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                Página diseñada para llevar un orden en el dia, en ella podemos evidenciar como agregamos, eliminamos y categorizamos los diferentes pendientes que vamos registrando en la página
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://pendientes-app-one.vercel.app/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
          <!-- __________________________________ -->
          <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/degirpro.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 01 August 2023 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">App Degirpro</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                Proyecto realizado con la metodologia scrum para la construcción de una aplicacioón que esta en proceso de prueba, desempeñando el rol de lider técnico y aportando en la creación de los componentes con el fin de hacer la entrega en el tiempo acordado del sprint.
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://pendientes-app-one.vercel.app/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
          <!-- __________________________________ -->
          <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/copyNintendo.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 27 july 2023 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">Copy Nintendo</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                Página estática basada en una copia de una pagina original de la marca nintendo, con el fin de poder demostrar mis habilidades con html y css  
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://brayanduque.github.io/Page-Nintendo/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
          <!-- __________________________________ -->
          <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/mentorScore.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 23 july 2023 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">Mentor-Score</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                página contruida para medir el porcentaje de los diferentes casos como puede ser la puntuación de notas, en una actividad fisica entre otras cosas.
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://brayanduque.github.io/mentor-1/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
          <!-- __________________________________ -->
          <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/eccomerce.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 30 May 2024 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">App Eccomerce</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                Página diseñada en un store o tienda la cual tiene la función de agregar al carrito y hacer la suma del producto, además de la manipulación de una api´s externas.
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://store-angular-gamma.vercel.app/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
          <!-- __________________________________ -->
          <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
            <video width="640" height="360" controls  muted class="object-cover">
                <source src="../assets/videos/pageHuddle.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
          
            <div class="bg-white p-4 sm:p-6">
              <time datetime="2022-10-10" class="block text-xs text-gray-500"> 11 july 2022 </time>
            
                <h3 class="mt-0.5 text-lg text-gray-900">Page Huddle</h3>
            
              <p class="mt-2 text-sm/relaxed line-clamp-3 text-gray-500">
                Página diseñada para la demostración de un sitio web estático donde notamos la información que nos sumistra dicho sitio web.
              </p>
              <div  class="flex items-end justify-end">
                <a href="https://brayanduque.github.io/page-huddle/" target="_blank" class="w-7"><img src="../assets/imagenes/flecha-derecha.svg" alt="guia" class="w-7 font-semibold"></a>
              </div>
            </div>
          </article>
    </section>
    
    
</div>
