<!-- contenedor del home -->
<div class="container h-full mx-auto flex justify-center text-white gap-2">
    <header class="grid grid-cols-1  items-center gap-5 h-screen">
        <article class="text-center items-center gap-4">
            <!-- informacion breve sobre el desarrollador -->
            <h1 class="font-extrabold text-7xl mb-10 ">Brayan Duque</h1>
            <p class="text-2xl">Desarrollador Frontend con experiencia y conocimientos en diferentes lenguajes de programación </p>
            <ul class="mt-10 grid grid-flow-col gap-3 justify-center items-center">
                
                <li><img src="../assets/imagenes/icons8-html5-48.png" alt="Html" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-css-48.png" alt="Css" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-angular-64.png" alt="Angular" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-javascript-48.png" alt="Javascript" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-viento-de-cola-48.png" alt="Tailwind" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-logotipo-de-bootstrap-48.png" alt="Bootstrap" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-github.svg" alt="github" class="animate-pulse w-20 bg-white rounded-full"></li>
                <li><img src="../assets/imagenes/icons8-figura.svg" alt="figma" class="animate-pulse w-20"></li>
            </ul>
        </article>
        
    </header>

</div>
