<!-- contenedor del home -->
<div class="container mx-auto flex justify-center h-screen text-white">
    <header class="grid grid-cols-1 md:grid-cols-3 items-center gap-5">
        <!-- contenedor del logotipo giratorio junior -->
            <section class="items-center mx-auto order-2">
                <div class="group origin-bottom-right duration-500 -rotate-12 hover:-rotate-0 hover:-skew-x-12 skew-x-0 hover:-translate-x-6  hover:translate-y-12">
                    <div class="duration-500 group-hover:duration-400 relative rounded-2xl w-80 h-36 bg-zinc-800 text-gray-50 flex flex-col justify-center items-center gap-1 before:-skew-x-12  before:rounded-2xl  before:absolute before:content['']  before:bg-neutral-700 before:right-3 before:top-0 before:w-80 before:h-40 before:-z-10 group-hover:before:-right-3 group-hover:before:skew-x-12 before:duration-500 group-hover:duration-500">
                      <span class="text-5xl font-bold">Jr</span>
                      <p class="text-amber-300 font-thin">- Frontend Developer -</p>
                    </div>
                  </div>
            </section>
        <article class="text-center items-center gap-4 col-span-2 md:order-1">
            <!-- informacion breve sobre el desarrollador -->
            <h1 class="font-extrabold text-7xl mb-10 ">Brayan Duque</h1>
            <p class="text-2xl">Desarrollador Frontend junior con experencia y conocimientos en diferentes lenguajes de programación </p>
            <ul class="mt-10 grid grid-cols-4  md:grid-flow-col gap-3 justify-center items-center">
                
                <li><img src="../assets/imagenes/icons8-html5-48.png" alt="Html" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-css-48.png" alt="Css" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-angular-64.png" alt="Angular" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-javascript-48.png" alt="Javascript" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-viento-de-cola-48.png" alt="Tailwind" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-logotipo-de-bootstrap-48.png" alt="Bootstrap" class="animate-pulse w-20"></li>
                <li><img src="../assets/imagenes/icons8-github.svg" alt="github" class="animate-pulse w-20 bg-white rounded-full"></li>
                <li><img src="../assets/imagenes/icons8-figura.svg" alt="figma" class="animate-pulse w-20"></li>
            </ul>
        </article>
    </header>

</div>
